.Resume__container__global {
  margin-top: 20px;
  // margin-left: 30px;
  height: 100vh;
  // background-color: rgba(241, 222, 136, 0.849);
  overflow-y: scroll;
  // direction:rtl
  padding: 1rem;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.Resume__container__global::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Resume__container__global {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
