.padt-20{
    padding-top: 20px;
}
.mart-20{
    margin-top: 20px;
}
.padt-10{
    padding-top: 10px;
}
.mart-10{
    margin-top: 10px;
}.padt-30{
    padding-top: 30px;
}
.mart-30{
    margin-top: 30px;
}