$white: #fff;
$black: #000;
$silver: #efefef;
$green: #4fb185;
$bgColor: #f9f5f1;
$silverLight: #e5e7ed;
$pink: #f02dc5;
$backGround: #f9f5f1;
$light-line: #ebebeb;
$light-cream:"#fff9f1";
$bright-green:"#28bd67";