
@import "scss/components/single-resume.scss";
@import "scss/components/Footer";
@import "scss/components/Header";
@import "scss/components/resume-container";
@import "scss/components/category-sidebar.scss";
@import "scss/components/category-container.scss";
@import "scss/utils/utils.scss";
@import "scss/abstracts/variables.scss";



.App {
  font-family: "Poppins", sans-serif;
  background-color: $bgColor;
}
.layout__container {
  display: flex;
  flex-direction: row;
}